#.gitignore

# Build outputs
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# AVR/GCC outputs
*.o
*.a
*.d
*.elf
*.hex
*.eep
*.lss
*.map
*.srec

# Microchip Studio / Atmel Studio / Visual Studio user files
*.user
*.suo
*.aps
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
ipch/

# IDE folders
.vs/
.vscode/

# Logs / temp
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
